.gpu-data-table {
  border: 2px solid gray;
  width: 375px;
  margin: 2rem auto;
  padding: 1rem;
  border-collapse: collapse;
}

.gpu-data-table th,
.gpu-data-table td {
  padding: 0.5rem;
  border: 1px solid gray;
}

.gpu-data-table thead th {
  font-size: 1.75rem;
  background-color: black;
}

.gpu-data-table tbody .row-label,
.gpu-data-table tbody .row-data {
  text-align: left;
}

.gpu-data-table tbody .row-label {
  font-weight: normal;
  background-color: #252525;
}

.gpu-data-table tbody .row-data {
  font-weight: bold;
  background-color: black;
}

.table-division-header {
  background-color: #161616;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}
