.add-gpu-form {
  max-width: 400px;
  margin: 0 auto;
}

.add-gpu-form-row {
  display: flex;
  justify-content: center;
}

.add-gpu-form label {
  width: 175px;
  text-align: left;
}

.add-gpu-form input {
  width: 200px;
  background-color: black;
  color: white;
  border-style: inset;
}
